* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    background-color: #343A40;
}

.body-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.site-header {
    background-color: #212529;
    padding: 10px 20px;
    color: #fff;
}

.container-fluid {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.navbar-brand {
    color: #80ED99;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.navbar-toggler {
    background: none;
    border: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    display: none;
}

.navbar-toggler-icon::before {
    content: "\2630"; 
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.nav-link:hover {
    color: #80ED99;
}

.main-content {
    padding: 100px;
    background-color: #343A40;
    color: #fff;
}

.main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
    box-sizing: border-box;
}

.text-section {
    flex: 1;
    max-width: 600px;
}

.main-title {
    font-size: 36px;
    color: #80ED99;
    margin: 0 0 10px 0;
}

.main-subtitle {
    font-size: 28px;
    color: #fff;
    margin: 0 0 20px 0;
} 

.main-title-soy {
    color:#fff;
}

.main-subtitle-title {
    color: #80ED99;
}

.main-description {
    font-size: 16px;
    color: #fff;
    line-height: 1.5;
}

.SideImg {
    flex: 1;
    max-width: 500px;
    text-align: right;
}

.profile-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.site-footer {
    background-color: #212529;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer-location,
.footer-social {
    flex: 1;
    margin: 10px;
}

.footer-title {
    font-size: 18px;
    color: #80ED99;
    margin-bottom: 10px;
}

.footer-text {
    font-size: 14px;
    margin: 0;
}

.footer-social {
    text-align: right;
}

.social-links {
    display: flex;
    gap: 10px; 
    justify-content: flex-end;
}

.social-link {
    display: inline-block;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
}

.social-link:hover {
    color: #80ED99;
}


@media (max-width: 768px) {
    .navbar-brand {
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }

    .nav-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: relative;
    }

    .nav-list {
        display: flex;
        flex-direction: column;
        align-items: end;
        width: 100%;
        background-color: #212529;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        margin: 0;
        padding: 0;
    }

    .nav-item {
        margin: 10px 0;
    }

    .navbar-brand {
        margin-bottom: 15px;
    }

    .main-container {
        flex-direction: column;
        align-items: center;
    }
    
    .SideImg {
        width: 90%;
        height: auto;
    }

    .main-title {
        font-size: 28px;
    }

    .main-subtitle {
        font-size: 24px;
    }

    .main-description {
        font-size: 14px;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-location,
    .footer-social {
        text-align: center;
        margin: 10px 0;
    }

    .social-links {
        justify-content: center;
    }
}

/* Adjustments for Very Small Screens (320px and below) */
@media (max-width: 320px) {
    .navbar-brand,
    .navbar-toggler,
    .nav-link,
    .main-title,
    .main-subtitle,
    .main-description,
    .footer-title,
    .footer-text {
        font-size: calc(0.75em + 0.5vw); /* Responsive font sizes */
    }

    .SideImg {
        width: 100px;
        height: auto;
    }

    .profile-img {
        width: 100%; /* Asegúrate de que ocupe el 100% del contenedor */
        max-width: 200px; /* Establece un ancho máximo para mantener una proporción adecuada */
        height: auto; /* Mantiene la relación de aspecto */
        margin: 0 auto; /* Centra la imagen */
    }
} 
